.Rproj.user
.Rhistory
.RData

gtk.pkg

problem_id_1.txt

problem_id_10.txt

problem_id_11.txt

problem_id_12.txt

problem_id_13.txt

problem_id_14.txt

problem_id_15.txt

problem_id_16.txt

problem_id_17.txt

problem_id_18.txt

problem_id_19.txt

problem_id_2.txt

problem_id_20.txt

problem_id_3.txt

problem_id_4.txt

problem_id_5.txt

problem_id_6.txt

problem_id_7.txt

problem_id_8.txt

problem_id_9.txt
